# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# Node
node_modules
npm-debug.log
dist

# Maven
target
.mvn
*.jar
*.war

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
Dockerfile
.dockerignore
