[mysqld]
# 字符集设置
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'

# 客户端字符集
[client]
default-character-set=utf8mb4

# MySQL客户端字符集
[mysql]
default-character-set=utf8mb4
